<nav class="w3-bar w3-theme-d4">
  <a href="/index" class="w3-bar-item w3-button w3-mobile w3-large w3-hover-theme">Home</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile w3-large w3-hover-theme">About</a>
  <a href="/blog" class="w3-bar-item w3-button w3-mobile w3-large w3-hover-theme">Blog</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile w3-large w3-hover-theme">Projects</a>
  <a href="https://github.com/thinkofher/thinkofher.github.io" class="w3-bar-item w3-button w3-mobile w3-large w3-right w3-hover-theme">Github</a>
</nav>
