---
layout: default
imgdesc: "Me and my boy <b>Hauru</b> chillin at the beach. It is a very charming and rare sight."
---
{{ content }}
<div class="w3-container w3-center">
  <div class="w3-display-container w3-center">
    <img src="assets/img/me_and_hauru.jpg" alt="Me and my friend Hauru" class="w3-image w3-padding w3-grayscale-min">
    <p class="w3-padding-small w3-display-bottommiddle w3-black w3-hide-small">{{ layout.imgdesc }}</p>
  </div>
  <p class="w3-hide-large w3-hide-medium">{{ layout.imgdesc }}</p>
</div>
